# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.exe
*.out
*.app

# Mac OS
.DS_Store

# Vagrant
.vagrant

# Sublime
*.sublime-project
*.sublime-workspace

# Pycharm
.idea

# vscode
.vscode
.code-workspace

# jupyter
.ipynb_checkpoints

doc/